<h2>Welcome <%= accountData.firstname %></h2>

<% if (accountData.account_type !== 'Client') { %>
  <h3>Inventory Management</h3>
  <p><a href="/inv/">Go to Inventory Management</a></p>
<% } %>

<p><a href="/account/update/<%= accountData.account_id %>">Update Account Info</a></p>
