<!-- /views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CSE Motors</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <div id="wrapper">
    <header id="top-header">
      <span class="siteName">
        <a href="/" title="Return to home page">CSE Motors</a>
      </span>
      <div id="tools">
        <% if (locals.loggedin) { %>
          <span>Welcome <%= locals.accountData.account_firstname %></span>
          <a href="/account" title="Manage your account">My Account</a>
          <a href="/account/logout" title="Log out">Logout</a>
        <% } else { %>
          <a href="/account/login" title="Click to log in">My Account</a>
        <% } %>
      </div>
    </header>
