<%- messages() %>
<div class="car-container">
    <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
    <div class="info-box">
        <h1>DMC Delorean</h1>
        <p>3 Cup Holders | Superman Doors | Fuzzy Dice!</p>
        <img class="own-today" src="/images/site/own_today.png" alt="Own Today">
    </div>
</div>
<div class="content-wrapper">
    <section class="upgrades">
        <div class="upgrade-item">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
        </div>
        <p class="upgrade-text">Flux Capacitor</p>
        <div class="upgrade-item">
            <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
        </div>
        <p class="upgrade-text">Flame Decals</p>
        <div class="upgrade-item">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
        </div>
        <p class="upgrade-text">Hub Caps</p>
        <div class="upgrade-item">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
        </div>
        <p class="upgrade-text">Bumper Stickers</p>
    </section>
    <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <p>• "So fast it's almost like traveling in time." (4/5)</p>
        <p>• "Coolest ride on the road." (4/5)</p>
        <p>• "I'm feeling McFly!" (5/5)</p>
        <p>• "The most futuristic ride of our day." (4.5/5)</p>
        <p>• "80's livin and I love it!" (5/5)</p>
    </section>
</div>