<!-- views/inventory/detail.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{vehicleHTML.make}} {{vehicleHTML.model}}</title>
</head>
<body>
    <div>
        {{{vehicleHTML}}}
    </div>
</body>
</html>
